<div class="ml-4 mr-4">
  <h1 class="mt-8 text-5xl">Edit</h1>

  <mat-divider class="mb-2"></mat-divider>

  <div class="grid">
    <div class="col-1"></div>
    <div class="col-11 sm:col-6">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="heroForm" class="grid">
            <mat-form-field class="col-12">
              <mat-label>Super Hero</mat-label>
              <input
                type="text"
                [formControlName]="formControlFieldName.superhero"
                matInput
                required
              />
            </mat-form-field>

            <mat-form-field class="col-12">
              <mat-label>Alter Ego</mat-label>
              <input
                type="text"
                [formControlName]="formControlFieldName.alter_ego"
                matInput
                required
              />
            </mat-form-field>

            <mat-form-field class="col-12">
              <mat-label>First Appearance</mat-label>
              <input
                type="text"
                [formControlName]="formControlFieldName.first_appearance"
                matInput
                required
              />
            </mat-form-field>

            <mat-form-field class="col-12">
              <mat-label>Characters</mat-label>
              <input
                type="text"
                [formControlName]="formControlFieldName.characters"
                matInput
                required
              />
            </mat-form-field>

            <mat-form-field class="col-12">
              <mat-label>Publisher</mat-label>
              <mat-select
                required
                [formControlName]="formControlFieldName.publisher"
              >
                @for (publisher of publishers; track $index) {
                <mat-option [value]="publisher.id">
                  {{ publisher.desc }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-12">
              <mat-label>Alt_image</mat-label>
              <input
                matInput
                type="text"
                [formControlName]="formControlFieldName.alt_image"
                required
              />
            </mat-form-field>
          </form>

          <div class="flex justify-content-evenly">
            <button (click)="cancelHero()" mat-flat-button color="warn">
              cancel
            </button>
            <button (click)="updateHero()" mat-flat-button color="primary">
              Save
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-1"></div>
    <div class="col-3">
      <heroes-card [hero]="heroForm.value" [visible]="false"></heroes-card>
    </div>
  </div>
</div>
