<div class="ml-4 mr-4">
  <h1 class="mt-8 text-5xl">Add</h1>

  <mat-divider class="mb-2"></mat-divider>

  <div class="grid">
    <div class="col-12 sm:col-6">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="heroForm" class="grid">
            <mat-form-field class="col-12">
              <mat-label>Super Hero</mat-label>
              <input
                type="text"
                [formControlName]="formControlFieldName.superhero"
                matInput
                required
              />
            </mat-form-field>
            @if (heroForm.get('superhero')?.invalid &&
            heroForm.get('superhero')?.touched) {
            <p class="text-red-200 col-12">
              {{ getErrorMessage("superhero") }}
            </p>
            }

            <mat-form-field class="col-12">
              <mat-label>Alter Ego</mat-label>
              <input
                type="text"
                [formControlName]="formControlFieldName.alter_ego"
                matInput
                required
              />
            </mat-form-field>
            @if (heroForm.get('alter_ego')?.invalid &&
            heroForm.get('alter_ego')?.touched) {
            <p class="text-red-200 col-12">
              {{ getErrorMessage("alter_ego") }}
            </p>
            }

            <mat-form-field class="col-12">
              <mat-label>First Appearance</mat-label>
              <input
                type="text"
                [formControlName]="formControlFieldName.first_appearance"
                matInput
                required
              />
            </mat-form-field>
            @if (heroForm.get('first_appearance')?.invalid &&
            heroForm.get('first_appearance')?.touched) {
            <p class="text-red-200 col-12">
              {{ getErrorMessage("first_appearance") }}
            </p>
            }

            <mat-form-field class="col-12">
              <mat-label>Characters</mat-label>
              <input
                type="text"
                [formControlName]="formControlFieldName.characters"
                matInput
                required
              />
            </mat-form-field>
            @if (heroForm.get('characters')?.invalid &&
            heroForm.get('characters')?.touched) {
            <p class="text-red-200 col-12">
              {{ getErrorMessage("characters") }}
            </p>
            }

            <mat-form-field class="col-12">
              <mat-label>Publisher</mat-label>
              <mat-select
                required
                [formControlName]="formControlFieldName.publisher"
              >
                @for (publisher of publishers; track $index) {
                <mat-option [value]="publisher.id">
                  {{ publisher.desc }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            @if (heroForm.get('publisher')?.invalid &&
            heroForm.get('publisher')?.touched) {
            <p class="text-red-200 col-12">
              {{ getErrorMessage("publisher") }}
            </p>
            }

            <mat-form-field class="col-12">
              <mat-label>Alt_image</mat-label>
              <input
                matInput
                type="text"
                [formControlName]="formControlFieldName.alt_image"
                required
              />
            </mat-form-field>
            @if (heroForm.get('alt_image')?.invalid &&
            heroForm.get('alter_ego')?.touched) {
            <p class="text-red-200 col-12">
              {{ getErrorMessage("alter_ego") }}
            </p>
            }
          </form>

          <div class="flex justify-content-evenly">
            <button (click)="cancelHero()" mat-flat-button color="warn">
              cancel
            </button>
            <button (click)="addNewHero()" mat-flat-button color="primary">
              Save
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 sm:col-3">
      <heroes-card [hero]="heroForm.value" [visible]="false"></heroes-card>
    </div>
  </div>
</div>
