<form [formGroup]="loginForm" (submit)="login()" class="flex flex-column">
  <h1 class="text-2xl mb-4">Login</h1>

  <mat-form-field>
    <mat-label>User</mat-label>
    <input formControlName="userName" type="text" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" type="email" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input formControlName="password" type="password" matInput />
  </mat-form-field>

  <button (click)="login()" mat-stroked-button>Login</button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/register">Create a account?</a>
  </div>
</form>
