<form [formGroup]="loginForm" (submit)="login()" class="flex flex-column">
  <h1 class="text-2xl mb-4">Login</h1>

  <mat-form-field>
    <mat-label>UserName</mat-label>
    <input formControlName="userName" type="text" matInput />
  </mat-form-field>
  @if (loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched)
  {
  <p role="alert" class="text-red-200">{{ getErrorMessage("userName") }}</p>
  }

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" type="email" matInput />
  </mat-form-field>
  @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
  <p role="alert" class="text-red-200">{{ getErrorMessage("email") }}</p>
  }

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input formControlName="password" type="password" matInput />
  </mat-form-field>

  @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched)
  {
  <p role="alert" class="text-red-200">{{ getErrorMessage("password") }}</p>
  }

  <button (click)="login()" mat-stroked-button>Login</button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/register">Create an account?</a>
  </div>
</form>

<div class="mt-5 bg-blend-color-burn p-4 rounded-lg border-1 border-solid border-blue-200">
  <p>Estas son las credenciales por defecto, si quieres probar la aplicación.</p>
  <ol>
    <li>usuario: {{ account.userName }}</li>
    <li>correo: {{ account.email }}</li>
    <li>contraseña: {{ account.password }}</li>
  </ol>
</div>
