@import "primeicons/primeicons.css";


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.spacer {
  flex: 1 1 auto;
}

.container{
  margin: 2em 2em 0 2em;
}

.snackbar-success {
  background-color: rgb(160, 247, 160);
}

.snackbar-unsuccess {
  background-color: rgb(248, 74, 97);
}
