<div class="flex flex-column">
  <h1 class="text-2xl mb-4">Register</h1>

  <mat-form-field>
    <mat-label>User</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput />
  </mat-form-field>

  <button mat-stroked-button>Register</button>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">You already have an account?</a>
  </div>
</div>
